nav{
    width: 98%;
    margin: auto;
    background-color: chartreuse;
    border-radius: 10%;
    

}
nav a{
    background-color: rgb(54, 19, 182);
    color: white;
    font-size: 2vw;
    margin: 1% 7%;
    padding: 1%;
    border-radius: 15% 25%;
    display: inline-flex;
}
body{
    background-color: darkorange;
    font-size: 100px;
    text-align: center;
}
nav a:hover{
    transform: scale(1.2) translate(2px,2px);
}
img{
    width: 50vw;
}
li{
    list-style-type: none;
}